.header {
    display: flex;
    height: 150px;
    align-items: center;
    background-color: white;
    padding-left: 80px;
}

.header img {
    height: 60px;
    width: 60px;
}

.header h5 {
    font-size: 40px;
    margin-left: 5px;
    color: red;
}