.routine {
    position: sticky;
    top: 0;
}

.title {
    font-size: 30px;
    padding: 20px 0px;
    margin-left: -450px;

}

.routine-container {
    background-color: white;
    border-radius: 10px;

}

.instrument-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 80px;
    padding-right: 80px;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.name-container {
    background-color: rgb(253, 246, 246);
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    padding: 15px;
}

.individual-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 246, 246);
    border-radius: 10px;
    margin: 40px 15px;
    padding-left: 15px;
    padding-right: 15px;

}

.btn-break {
    display: flex;
    border-radius: 50%;
    background-color: white;
}

.btn-break:hover {
    background-color: tomato;
}

.btn-break-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 246, 246);
    margin: 40px 15px;
    padding: 15px;
    border-radius: 10px;

}

.excercise-details {
    background-color: rgb(253, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 15px 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.time {
    color: rgb(71, 70, 69);
}

.btn-activity {
    background-color: red;
    border: 0;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    color: white;
    font-size: 20px;

}

@media screen and (max-width :1100px) {
    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:720px) {
    .item-container {
        grid-template-columns: repeat(1, 1fr);
    }

}